![png](Images/ERD.png)

In [1]:
KeyPath = %env CODINGDOJO
import json
with open(KeyPath) as f: #change the path to match YOUR path!!
    login = json.load(f)
login.keys()

dict_keys(['MySQL', 'yelp-id', 'yelp-api-key'])

In [2]:
import pandas as pd
import pymysql
pymysql.install_as_MySQLdb()
from sqlalchemy import create_engine
from sqlalchemy_utils import create_database, database_exists

In [4]:
connection = f"mysql+pymysql://root:{login['MySQL']}@localhost:3306/chinook"
engine = create_engine(connection)
engine

Engine(mysql+pymysql://root:***@localhost:3306/chinook)

In [5]:
#use this function to retun multiple queries in this exercise
def query(q):
    return pd.read_sql(q, engine)

In [7]:
q="""
select
i.CustomerId,i.Total
from Chinook.Invoice i 
where i.Total = (select max(i.Total) from Chinook.Invoice i);
"""
query(q)

   CustomerId  Total
0           6  25.86